body{
    background-color: rgb(0, 0, 0);
}
.container{
    margin: 4% 25% 6%;
    background-color:#597fa0;
    
    border: 2px solid black;
    padding: 30px;
}

.wrapper{
    background-color: rgb(115, 200, 200);
    height: 100%;
    padding: 2%;
    border: 2px solid black;
}

.row{
    height: 50px;
    margin-bottom: 1%;
    display: flex;
    /* background-color: rgb(255, 255, 255); */
}

.col{
    text-align: center ;
    width: 25%;
    margin: 0% 0.2%;
    background-color:rgba(17, 16, 16, 0.832) ;
    /* height: 100%; */
    color: white;
    padding-top: 8px;
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.col:hover{
    background-color:rgb(17, 16, 16) ;
    border: 1px solid rgb(255, 255, 255);
}

.answer{
    height: 50px;
    margin-bottom: 3%;
    display: flex;
    background-color:rgba(17, 16, 16, 0.832) ;
    border: 3px solid rgb(0, 0, 0);
    color: aliceblue;
    
}

.answer:hover{
    border: 3px solid rgb(255, 255, 255);
}
